/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #f1b2ce;
  --second-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --main-font: 'IBM Plex Mono';
  --text-small: 18px;
  --text-large: 157px;
  --bold: 700;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #00012c;
}
